
* {
    --background100: white; 
    --background200: rgb(249, 249, 249);
  
    --text500: black;

    --accent100: #84BE9E;
    --accent200: #78B794;
    --accent300: #5CA87D;
    --accent400: #4C9F70;
    --accent500: #469267;
    --accent600: #3F845D;
    --accent700: #30704c;
    
    --large-font-size: 25px;
    --h1-font-size: 65px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a.button {
    background-color: var(--accent300);
    color: var(--background100);
    border-radius: 4px;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

a.button:hover {
    background-color: var(--accent500);
}

a {
    text-decoration: none;
    color: var(--text500);
    position: relative;
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent100);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
}

/* Scrolling: */

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
}
/* Enforce styles on common elements */

code {
    background-color: transparent !important;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

.mid-icon {
    width: 25px;
}
.ml-icon {
    width: 30px;
}
.icon-button {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}
.icon-button:hover {
    opacity: 1;
}

.navigate-button {
    background-color: var(--accent300);
    color: var(--background100);
    border-radius: 4px;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 8px;
    cursor: pointer;
}

ul {
    margin: 15px 5px;
    padding-left: 15px;
}

h2 {
    margin: 0;
}

.popup {
    font-size: 1.2em;
}